<h1>Listing events</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Host</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= event.creator.name %></td>
        <td><%= link_to 'Show', event , class: "btn btn-primary btn-small" %></td>
        <% if current_user && current_user.id == event.user_id %>
          <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-default btn-small" %></td>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
