<!DOCTYPE html>
<html>
<head>
  <title>Rendezvous</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
	<%= render 'partials/navigation' %>
		<div id="wrapper">
			<div class="container">
				<%= yield %>
				<%= render 'partials/footer' %>
			</div>
		</div>
	</body>
</html>
